src/main/mule/notification.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="updateItem" doc:id="f2d5d119-7f64-4e07-b8d6-a75329cb12cc" >
		<http:listener doc:name="Listener" doc:id="44515f11-d0d9-4b4c-99dd-3f5272583966" config-ref="HTTP_Listener_config" path="/updateItem" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="0234d512-5c96-420e-b97a-2e4503314e6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Name: payload01.Name,
	ProductCode: payload01.ProductCode,
	Price__c: payload01.Price__c,
	stock__c: payload01.stock__c as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="17978b1d-15fb-4111-be9b-3efa28f2f143" />
		<salesforce:update doc:name="Update" doc:id="63cffd12-b880-4846-b633-3b4d99e03588" config-ref="Salesforce_Config" type="Product2"/>
		<ee:transform doc:name="Transform Message" doc:id="1b14ae00-bb59-4bd6-8a1c-f65e2bf365db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1a656cd6-b3a4-43a6-ba0f-c18a58cf4d23" message="#[payload]"/>
	</flow>
</mule>
